// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: grey; // Using this variable
}

h1, h3, p {
  color: yellow;
  text-align: center;
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}
